.widget {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    height: 100px;
    background-color: white;
    position: relative;

    .widget_icon{
      align-items: center;
    border-radius: 10px;
    color: #fff;
    display: inline-flex;
    font-size: 70px;
    height: 4rem;
    justify-content: center;
    text-align: center;
    width: 4rem;
}
    .left{
      margin-left: 15px;
    padding-top: 5px;
    }
  
    
    .right {
      align-items: center;
    display: flex;
  
      .title {
        font-weight: 700;
        font-size: 14px;
        color: rgb(83, 75, 75);
      }
      span.amount {
        font-size: 15px;
        
    }
  
      .counter {
        font-size: 28px;
        font-weight: 300;
      }
  
      .link {
        width: max-content;
        font-size: 12px;
        border-bottom: 1px solid gray;
      }
  
      .percentage {
        display: flex;
        align-items: center;
        font-size: 14px;
  
        &.positive {
          color: green;
        }
        &.negative {
          color: red;
        }
      }
  
      
    }
  }
  .progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #0d6efd;
    transition: width .6s ease;
}
.progress{
  height: 6px;
}